@import url("http:/fonts.googleapis.com/css?family=Muli&display=swap");
$line-border-color: #3498db;
$line-boarder-empty: #e0e0e0;

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6fb;
  font-family: 'Muli' sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  .container {
    text-align: center;
  }

  .progess-container {
    display: flex;
    justify-content: space-between;
  }
}